@model IEnumerable<Academico.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1>Cursos</h1>

<p>
    <a asp-action="Create">Cradastra novo Curso</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargaHoraria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargaHoraria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CursoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CursoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CursoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
