@model Academico.Models.CursoDisciplina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CursoDisciplina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CursoDisciplinaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CursoDisciplinaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso.CursoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplina.DisciplinaId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
